@font-face {
	font-family: raleway;
	src: url('../fonts/raleway/Raleway-Thin.ttf');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: raleway;
	src: url('../fonts/raleway/Raleway-ThinItalic.ttf');
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: raleway;
	src: url('../fonts/raleway/Raleway-ExtraLight.ttf');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: raleway;
	src: url('../fonts/raleway/Raleway-ExtraLightItalic.ttf');
	font-weight: 200;
	font-style: italic;
}

@font-face {
	font-family: raleway;
	src: url('../fonts/raleway/Raleway-Light.ttf');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: raleway;
	src: url('../fonts/raleway/Raleway-LightItalic.ttf');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: raleway;
	src: url('../fonts/raleway/Raleway-Regular.ttf');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: raleway;
	src: url('../fonts/raleway/Raleway-Italic.ttf');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: raleway;
	src: url('../fonts/raleway/Raleway-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: raleway;
	src: url('../fonts/raleway/Raleway-Italic.ttf');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: raleway;
	src: url('../fonts/raleway/Raleway-Medium.ttf');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: raleway;
	src: url('../fonts/raleway/Raleway-MediumItalic.ttf');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: raleway;
	src: url('../fonts/raleway/Raleway-SemiBold.ttf');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: raleway;
	src: url('../fonts/raleway/Raleway-SemiBoldItalic.ttf');
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: raleway;
	src: url('../fonts/raleway/Raleway-Bold.ttf');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: raleway;
	src: url('../fonts/raleway/Raleway-BoldItalic.ttf');
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: raleway;
	src: url('../fonts/raleway/Raleway-ExtraBold.ttf');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: raleway;
	src: url('../fonts/raleway/Raleway-ExtraBoldItalic.ttf');
	font-weight: 800;
	font-style: italic;
}