@import "fonts";

html {
  font-size: 62.5%;
  font-family: raleway, sans-serif;
}

a:hover {
  cursor: pointer;
}

.view {
  margin-top: 100px;
}

 @import "grid";
 @import "modals";
 @import "global/header";
 @import "global/footer";

 .container {
    .row {
       @import "pages/home";
       @import "pages/products";

    }
 }
 


