$rootContext: 62.5;
#home {
    .panelOne {
        background: url("../images/homepage_bg.jpg") 0px -18px;
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        color: white;
        padding-top: 15%;
        padding-bottom: 10%;
        font-family: raleway, sans-serif;
        min-height: 397px;
        @media screen and (max-width: 768px) {
            background-size: 768px auto;
            font-size: 0.8em;
            padding-top: 12%;
            padding-bottom: 12%;
        }
        @media screen and (max-width: 566px) {
            font-size: 0.6em;
            a.btn.subscribe {
                width: 100%;
            }
        }
        h1 {
            font-size: 10em;
            font-weight: 800;
            line-height: 1em;
            margin-bottom: 0;
            @media only screen and (max-width: 450px) {
                margin-top: 10px;
            }
        }
        h2 {
            line-height: 1em;
            font-size: 5em;
            font-weight: 400;
            margin-bottom: 0.5em;
        }
        a.btn.subscribe {
            display: block;
            margin: 0 auto;
            margin-top: 7%;
            width: 30%;
            padding-top: 1.5%;
            padding-bottom: 1.5%;
            background-color: #0A4D6D;
            border: 4px solid #0A4D6D;
            font-size: 2.5em;
            font-weight: 800;
            &:hover {
                background: #0A4D6D;
                background: rgba(10, 77, 109, 0.7);
            }
            @media only screen and (max-width: 450px) {
                width: 100%
            }
        }
        .bottom {
            position: absolute;
            bottom: 0;
            width: 100%;
        }
        .plansBanner {
            width: 100%;
            background: rgba(10, 77, 109, 0.9);
            font-size: 2em;
            a {
                text-decoration: none;
                color: #FFFFFF;
                font-weight: 800;
            }
        }
    }

    .panelTwo, .panelThree {
        font-family: raleway, sans-serif;
        color: #0A4D6D;
        text-align: center;
        padding-bottom: 30px;
        .row {
            h4 {
                font-size: 1.8em;
                font-weight: 400;
            }
            p {
                color: #868485;
                font-size: 1.4em;
                font-weight: 400;
                @media screen and (max-width: 900px) {
                    padding-left: 0;
                    padding-right: 0;
                    width: 80%;
                    margin: 0 auto;
                }
            }
        }
    }

    .panelTwo {
        .row {
            .content {
                margin-left: -15px;
                margin-right: 15px;
            }
            p {
                padding-left: 15px;
                padding-right: 15px;
            }
            .step {
                padding: 0;
            }
            .plus {
                margin-top: 56px;
                margin-bottom: 56px;
                img {
                    height: 40px;
                }
                @media screen and (min-width: 900px) {
                    float: none;
                    position: absolute;
                    top: 0;
                    right: -20px;
                }
            }
            .circle {
                border: 1px solid #0A4D6D;
                height: 184px;
                width: 184px;
                border-radius: 50%;
                margin: 0 auto;
                img {
                    height: 84px;
                    margin-top: 50px;
                }
            }
        }
    }

    .panelThree {
        background: rgba(10, 77, 109, 0.1);
        .row {
            p {
                margin-bottom: 30px;
            }
            .walk {
                height: 350px;
                max-width: 350px;
                background: url("../images/walk.jpg");
                margin: 0 auto;
                &:hover {
                    border: 2px solid #0A4D6D;
                }
                @media screen 
                and (max-width: 900px)
                and (min-width: 450px) {
                    width: 100%;
                    max-width: none;
                    background-size: 100% auto;
                    background-position: 0 57%;
                    background-repeat: no-repeat;
                    height: 250px;
                }
            }
            .thread {
                height: 350px;
                max-width: 350px;
                background: url("../images/thread.jpg");
                background-size: auto 350px;
                margin: 0 auto;
                &:hover {
                    border: 2px solid #0A4D6D;
                }
                @media screen and (max-width: 900px) {
                    width: 100%;
                    max-width: none;
                    background-size: 100% auto;
                    height: 250px;
                }
                @media screen and (max-width: 473px) {
                    background-size: 650px auto;
                    height: 350px
                }
            }
            .parcel {
                height: 350px;
                max-width: 350px;
                background: url("../images/parcel.jpg") -58px 0;
                margin: 0 auto;
                &:hover {
                    border: 2px solid #0A4D6D;
                }
                @media screen
                and (max-width: 900px) 
                and (min-width: 450px) {
                    background: url("../images/parcel.jpg") 0 0;
                    width: 100%;
                    max-width: none;
                    background-size: 100% auto;
                    height: 250px;
                }
            }
        }
    }
}