<div class="row" id="header-tab" data-ng-controller="HeaderCtrl">
	<div class="col-dt-10 col-tb-12 col-dt-offset-1">
		<div class="left-btns">
			<a data-ng-click="">MY SUBSCRIPTION</a>
		</div>
		<div class="right-btns">
			<ul>
				<li>
					<a data-ng-click="">CURRENCY</a>
				</li>
				<li>
					<a data-ng-click="">LOG IN</a>
				</li>
				<!--                 <li>
					<a data-ng-click="">LOG OUT</a>
				</li> -->
			</ul>
		</div>
	</div>
</div>
<div class="col-dt-10 col-tb-12 col-dt-offset-1 navbar">
	<div class="logo-wrapper">
		<a data-ng-href="/"><span class="helper"></span><img src="images/plentysocks_logo.png"/></a>
	</div>
	<div class="right-btns" ng-show="true">
		<ul>
			<li>
				<a data-ng-href="/products" data-ng-class="{active: currentPath == '/products'}">PRODUCTS</a>
			</li>
			<li>
				<a data-ng-href="/plans" data-ng-class="{active: currentPath == '/plans'}">PLANS</a>
			</li>
			<li>
				<a data-ng-click="">ABOUT US</a>
			</li>
			<li>
				<a data-ng-click="">HELP</a>
			</li>
		</ul>
	</div>
	<!-- <a class="right-btns" ng-show="false">
		<ul>
			<li>
				<a data-ng-click="">PRODUCTS</a>
			</li>
			<li>
				<a data-ng-click="">PLANS</a>
			</li>
			<li>
				<a data-ng-click="">ABOUT US</a>
			</li>
			<li>
				<a data-ng-click="">HELP</a>
			</li>
		</ul>
	</a> -->
</div>