.header {
    height: 100px;
    width: 100%;
    background-color: #FFFFFF;
    position: fixed;
    top: 0;
    font-family: raleway, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: #868485;
    z-index: 1;
    border-bottom: 1px solid #DBDBDB;
    a:hover {
        color: #0A4D6D;
    }
    #header-tab {
        color: #FFFFFF;
        background-color: #0A4D6D;
        font-size: 1.2rem;
        a:hover {
            background-color: #538298;
        }
    }
    .left-btns {
        float: left;
        display: table;
        a {
            display: table-cell;
            vertical-align: middle;
            height: 36px;
            padding-left: 15px;
            padding-right: 15px;
        }
    }
    .right-btns {
        float: right;
    }
    ul {
        margin: 0;
        li {
            display: table;
            float: left;
            a {
                display: table-cell;
                vertical-align: middle;
                height: 36px;
                padding-left: 15px;
                padding-right: 15px;
            }
        }
    }
    .logo-wrapper {
        width: 30%;
        float: left;
        height: 64px;
        .helper {
            display: inline-block;
            height: 100%;
            vertical-align: middle;
        }
        img {
            max-width: 100%;
            max-height: 64px;
            vertical-align: middle;
        }
    }
    .navbar {
    	.right-btns {
    		margin-top: 12px;
    	}
    }
}