.header {
    height: 100px;
    width: 100%;
    background-color: #FFFFFF;
    position: fixed;
    top: 0;
    font-family: raleway, sans-serif;
    font-weight: 400;
    font-size: 1em;
    color: #868485;
    z-index: 1;
    border-bottom: 1px solid #DBDBDB;
    a:hover {
        color: #0A4D6D;
    }
    #header-tab {
        color: #FFFFFF;
        background-color: #0A4D6D;
        font-size: 1.2rem;
        a:hover {
            background-color: #538298;
        }
         @media only screen and (max-width: 420px) {
            font-size: 1em;
        }
    }
    .left-btns {
        float: left;
        display: table;
        a {
            display: table-cell;
            vertical-align: middle;
            height: 36px;
            padding-left: 15px;
            padding-right: 15px;
        }
    }
    .right-btns {
        float: right;
    }
    ul {
        margin: 0;
        li {
            display: table;
            float: left;
            a {
                display: table-cell;
                vertical-align: middle;
                height: 36px;
                padding-left: 15px;
                padding-right: 15px;
                text-decoration: none;
            }
        }
    }
    .logo-wrapper {
        width: 30%;
        float: left;
        height: 64px;
        .helper {
            display: inline-block;
            height: 100%;
            vertical-align: middle;
        }
        img {
            max-width: 100%;
            max-height: 64px;
            vertical-align: middle;
        }
    }
    .navbar {
    	.right-btns {
    		margin-top: 12px;
            a {
                font-size: 1.4em;
                text-decoration: none;
                color: #868485;
                &:hover {
                    color: #545454;
                }
                &.active {
                    color: #545454;
                    font-weight: 500;
                }
            }
            @media only screen and (max-width: 750px) {
                display: none;
            }
    	}
        .right-menu-btn {
            float: right;
            margin-top: 18px;
            a.burgerButton {
                span.burgerIcon {
                    width: 30px;
                    height: 30px;
                    display: block;
                    background: url('../images/icons/bars_dark.png');
                    background-size: 100%;
                }
                &:hover {
                    span.burgerIcon {
                        background: url('../images/icons/bars_light.png');
                        background-size: 100%;
                    }
                }
            }
            @media only screen and (min-width: 750px) {
                display: none;
            }
        }
        .dropdown {
            clear: left;
            float: right;
            margin-right: -15px;
            ul {
                li {
                    float: right;
                    clear: right;
                    background: #FFFFFF;
                    display: block;
                    border: 1px solid #DBDBDB;
                    border-top: none;
                    width: 130px;
                    height: 45px;
                    text-align: center;
                    font-size: 1.2em;
                    padding-top: 5px;
                    a {
                        text-decoration: none;
                        color: #868485;
                        &:hover {
                            color: #545454;
                        }
                        &.active {
                            color: #545454;
                        }
                    }
                    .top {
                        border-top: 1px solid #DBDBDB;
                        }
                    &:hover {
                        background: #E6ECF0;
                    }
                    &.selected {
                        background: #E6ECF0;
                        color: #545454;
                        font-weight: 500;
                    }
                }
            }
            @media only screen and (min-width: 750px) {
                display: none;
            }
        }
    }
}