<div class="row" id="plans">
	<div class="col-dt-12 panelOne">
		<div class="content">
			<div class="row">
				<div class="col-dt-5 col-dt-offset-2 col-tb-8 col-tb-offset-2">
					<h2>No more sock shopping stress</h2>
					<h4>Socks regularly delivered to your door</h4>
				</div>
			</div>
		</div>
	</div>
	<div class="col-dt-12 panelTwo">
		<div class="col-dt-12 heading">
			<h3>BENEFITS OF OUR SUBSCRIPTION</h3>
		</div>
		<div class="col-dt-4 col-dt-offset-2 col-tb-3">
			<img data-ng-src="../images/plans_price_circle.png">
		</div>
		<div class="col-dt-4 col-tb-9">
			<ul>
				<li><span class="check"></span><p>Free shipping worldwide</p></li>
				<li><span class="check"></span><p>No more sock sorting</p></li>
				<li><span class="check"></span><p>Socks delivered regularly</p></li>
				<li><span class="check"></span><p>Available as a gift</p></li>
				<li><span class="check"></span><p>100% cotton socks</p></li>
				<li><span class="check"></span><p>No more sock shopping stress</p></li>
				<li><span class="check"></span><p>You only need to click once to extend your subscription</p></li>
			</ul>
		</div>
	</div>
	<div class="col-dt-12 panelThree">
		<div class="col-dt-12 heading">
			<h3>Build your own plan from £79</h3>
		</div>
		<div class="col-dt-8 col-dt-offset-2 col-tb-12">
			<table>
				<thead>
					<tr>
						<th class="colOne"><h4>Choose your plan</h4></th>
						<th class="colTwo"><h2>£79</h2></th>
						<th class="colThree"><h2>£94</h2></th>
						<th class="colFour"><h2>£119</h2></th>
					</tr>
				</thead>
				<tr>
					<td class="colOne"><p>Quantity</p></td>
					<td class="colTwo"><p>7 socks</p></td>
					<td class="colThree"><p>7 socks</p></td>
					<td class="colFour"><p>7 socks</p></td>
				</tr>
				<tr>
					<td class="colOne"><p>Deliveries</p></td>
					<td class="colTwo"><p>3 times a year</p></td>
					<td class="colThree"><p>4 times a year</p></td>
					<td class="colFour"><p>6 times a year</p></td>
				</tr>
				<tr>
					<td class="colOne"><p>Guaranteed Quality</p></td>
					<td class="colTwo"><span class="tick"></span></td>
					<td class="colThree"><span class="tick"></span></td>
					<td class="colFour"><span class="tick"></span></td>
				</tr>
				<tr>
					<td class="colOne"><p>100% Cotton</p></td>
					<td class="colTwo"><span class="tick"></span></td>
					<td class="colThree"><span class="tick"></span></td>
					<td class="colFour"><span class="tick"></span></td>
				</tr>
				<tr>
					<td class="colOne"><p>Free Shipping</p></td>
					<td class="colTwo"><span class="tick"></span></td>
					<td class="colThree"><span class="tick"></span></td>
					<td class="colFour"><span class="tick"></span></td>
				</tr>
				<tr>
					<td class="colOne"><p>Available as Gift</p></td>
					<td class="colTwo"></td>
					<td class="colThree"><span class="tick"></span></td>
					<td class="colFour"><span class="tick"></span></td>
				</tr>
			</table>
			<div class="row">
				<div class="col-dt-3 col-dt-offset-3">
					<a class="btn subscribe orange">Subscribe</a>
				</div>
				<div class="col-dt-3">
					<a class="btn subscribe orange">Subscribe</a>
				</div>
				<div class="col-dt-3">
					<a class="btn subscribe orange">Subscribe</a>
				</div>
			</div>
		</div>
	</div>
</div>