<div class="col-dt-8 col-dt-offset-2 col-tb-12">
	<table>
		<thead>
			<tr>
				<th class="colOne"><h4>Choose your plan</h4></th>
				<th class="colTwo"><h2>£79</h2></th>
				<th class="colThree"><h2>£94</h2></th>
				<th class="colFour"><h2>£119</h2></th>
			</tr>
		</thead>
		<tr>
			<td class="colOne"><p>Quantity</p></td>
			<td class="colTwo"><p>7 socks</p></td>
			<td class="colThree"><p>7 socks</p></td>
			<td class="colFour"><p>7 socks</p></td>
		</tr>
		<tr>
			<td class="colOne"><p>Deliveries</p></td>
			<td class="colTwo"><p>3 times a year</p></td>
			<td class="colThree"><p>4 times a year</p></td>
			<td class="colFour"><p>6 times a year</p></td>
		</tr>
		<tr>
			<td class="colOne"><p>Guaranteed Quality</p></td>
			<td class="colTwo"><span class="tick"></span></td>
			<td class="colThree"><span class="tick"></span></td>
			<td class="colFour"><span class="tick"></span></td>
		</tr>
		<tr>
			<td class="colOne"><p>100% Cotton</p></td>
			<td class="colTwo"><span class="tick"></span></td>
			<td class="colThree"><span class="tick"></span></td>
			<td class="colFour"><span class="tick"></span></td>
		</tr>
		<tr>
			<td class="colOne"><p>Free Shipping</p></td>
			<td class="colTwo"><span class="tick"></span></td>
			<td class="colThree"><span class="tick"></span></td>
			<td class="colFour"><span class="tick"></span></td>
		</tr>
		<tr>
			<td class="colOne"><p>Available as Gift</p></td>
			<td class="colTwo"></td>
			<td class="colThree"><span class="tick"></span></td>
			<td class="colFour"><span class="tick"></span></td>
		</tr>
		<tr>
			<td class="bottomRow"></td>
			<td class="bottomRow"><a class="btn subscribe orange">Subscribe</a></td>
			<td class="bottomRow"><a class="btn subscribe orange">Subscribe</a></td>
			<td class="bottomRow"><a class="btn subscribe orange">Subscribe</a></td>
		</tr>
	</table>
</div>