<div class="row" id="choose-service">
	<div class="col-dt-12 choose-panel">
		<h3>CHOOSE SERVICE</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis ad sit rem suscipit at doloremque ut quas, error possimus et!</p>
		<div class="row content">
			<div class="col-dt-10 col-dt-offset-1 col-tb-12 choose-panel">
				<div class="row">
					<div class="col-dt-6 col-tb-12">
						<div class="link-wrapper">
							<a class="full-drawer" data-ng-click="" data-ng-href="#">Build a Full Drawer</a>
						</div>
					</div>
					<div class="col-dt-6 col-tb-12">
						<div class="link-wrapper sub">
							<a class="subscribe" data-ng-click="" data-ng-href="#">Subscribe</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>