<div id="get-started">
	<span class="steps">
		<ul>
			<li class="step"><span class="circle">1</span></li>
			<li class="connector"><span></span></li>
			<li class="step"><span class="circle active">2</span></li>
			<li class="connector"><span></span></li>
			<li class="step"><span class="circle">3</span></li>
			<li class="connector"><span></span></li>
			<li class="step"><span class="circle">4</span></li>
		</ul>
	</span>
	<!-- <div data-ng-include='"/views/get-started/chooseservice.html"'></div> -->
	<div data-ng-include='"/views/get-started/products.html"'></div>
</div>